.home-container {
    margin-top: 0px;
    padding-left: 120px;
    padding-right: 740px;
    padding-top: 117px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FA 100%)
}

.home-content {
    padding-bottom: 265px;
}


.text-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.text-subtitle {
    width: 612px;
    height: 240px;
    left: 120px;
    top: 331px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5a6774;
    margin-top: 25px;
    margin-bottom: 50px;
}

.button-config {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 101px;
    height: 40px;
    left: 120px;
    top: 650px;
    background: #1890ff;
    border-radius: 4px;
}